body {
    font-family: 'Indie Flower';
    font-size: 25px;
    margin: 0;
    padding: 0;
    background: #111;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Fixed alignment issue */
    background: #0c0808;
    padding: 1em 2em;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #f00;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f00;
}

section {
    padding: 100px;
    text-align: center;
}

#home {
    background: url('Somnus\ Logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

#home h1 {
    font-size: 100px; /* Increased size for 'Somnus' */
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); /* Added glow effect */
}

#about, #game {
    background: #222;
}
#contact{
    background: #0c0808;
}
